.slider {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    max-width: 30%;
  max-height: 50%;
  width: auto;
  height: auto;
    border-radius: 10px;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
  

/* For desktop view */
/* (Previous CSS remains unchanged) */

/* For mobile view */
@media (max-width: 768px) {
    .slider {
      flex-direction: row; /* Set elements in a row */
      align-items: center;
    }
  
    .image {
      max-width: 70%;
      max-height: auto;
      border-radius: 10px;
      order: 2; /* Set the image to appear after the icons */
    }
  
    .right-arrow,
    .left-arrow {
      font-size: 2rem;
      color: white;
      z-index: 10;
      cursor: pointer;
      user-select: none;
      width: auto;
      margin: 0 10px; /* Adjust horizontal space between the icons and image */
      order: 1; /* Set icons to appear before the image */
    }
  }
  